.greeting-box{
    color: var(--color-green);
    display:flex;
    position: absolute;
    flex-direction: column;
    bottom:0;
    width:50%;
    max-width: 50%;
    align-items: center;
}

.main-text, .main-text-subtitle{
    color: var(--color-green);
    font-weight: var( --font-xbold);
    font-size: var(--font-xxlg);
}

.sub-text{
    color: var(--color-green);
    font-size: var(--font-md);
    padding: 0.25em 2em;
    text-align: center;
    max-width: 70%;
}

.temp-get-started{
    padding: 0.25em 1em;
    text-align: center;
    border: none;
    text-decoration: none;
    color: var(--color-dark-green);
    font-weight: var(--font-xbold);
    font-size: var(--font-md);
    border-radius: var(--border-rounded-md);
    background-color: var(--color-green);
    transition: 200ms ease-in-out;
    margin: 2em 0;
}
.temp-get-started:hover {
   background-color: var(--color-button-hover);;
}