.greeting-box{
    color: var(--color-green);
    display:flex;
    position: absolute;
    flex-direction: column;
    top:55%;
    width:30%;
    max-width: 30%;
    height: 25%;
    max-height: 25%;
    left: 5%;
    align-items: center;
    justify-content: space-between;
}

.main-text{
    color: var(--color-green);
    font-weight: var( --font-xbold);
    font-size: var(--font-xxlg);
    text-align: center;
}

.sub-text{
    color: var(--color-green);
    font-size: var(--font-md);
    padding: 0.25em 2em;
    text-align: center;
    width: 80%;
}

.temp-get-started{
    padding: 0.25em 2em;
    text-align: center;
    border: none;
    text-decoration: none;
    font-weight: var(--font-xbold);
    font-size: var(--font-md);
    border-radius: var(--border-rounded);
    background-color: var(--color-green);
}