.userprofile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.userinfo-container {
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.username {
  font-size: var(--font-lg);
}
.avatar {
  height: 48px;
  width: 48px;
  margin-bottom: 1em;
  border-radius: 50%;
}

.user-dashboard {
  margin-top: 1em;
  display: flex;
  text-align: center;
  width: 80%;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-rounded);
  color: var(--color-dark-green);
  background-color: var(--color-green);
}
.user-dashboard-item {
  font-size: var(--font-mdlg);
  margin: 0 1em;
  cursor: pointer;
  text-decoration: none;
  transition: 300ms all;
}
.user-dashboard-item:hover {
  font-weight: var(--font-xbold);
}

.user-collections-label {
  position: absolute;
  cursor: pointer;
  top: -15px;
  background-color: var(--color-green);
  color: var(--color-dark-green);
  padding: 10px;
  font-weight: 600;
  border-radius: 50%;
  right: -10px;
}
.user-collections {
  position: relative;
  border-radius: var(--border-rounded-md);
  padding: 1rem;
  font-size: 1.45rem;
  font-weight: 500;
  color: var(--color-dark-green);
  background-color: #7392b7;
  margin-top: 3rem;
}
.collection-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
